---
layout: default
---

<!-- HEADLINE SECTION -->
<section class="headline">
  {% for item in site.columns reversed %}
    {% if item.layout == 'headline' %}
      <div class="headline-item">
        {% include article.html item=item %}
      </div>
    {% endif %}
  {% endfor %}
</section>

<!-- MASONRY SECTION -->
<section class="masonry">
  {% for item in site.columns reversed %}
    {% if item.layout == 'post' %}
      <div class="item">
        {% include article.html item=item %}
      </div>
    {% endif %}
  {% endfor %}
</section>
