<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span>⚖️ 법적 고지 (Disclaimer)</span>
본 서비스는 인공지능(AI)에 의해 계산된 결과를 제공하여 사용자에게 참고용 정보를 제공하기 위한 것이며, 법률, 세무, 회계, 투자 등 기타 전문적인 조언을 제공하기 위한 목적이 아닙니다. 투자 결정을 내리기 전에는 반드시 신중히 검토하시기 바라며, 모든 투자 판단과 의사결정 및 그 결과에 대한 책임은 전적으로 투자자 본인에게 있습니다. 당사는 개인의 투자 행위 또는 그 결과로 인한 손실에 대해 어떠한 책임도 지지 않습니다.
또한, 본 웹사이트에 포함된 내용의 오류, 누락 또는 오해의 소지가 있는 진술로 인해 직·간접적으로 발생하는 어떠한 손해에 대해서도 당사는 책임을 지지 않습니다. 본 웹사이트에는 외부 인터넷 사이트로 연결되는 링크가 포함될 수 있으며, 다른 외부 사이트에서 본 웹사이트로 연결될 수도 있습니다. 당사는 이러한 외부 사이트의 콘텐츠나 정보의 정확성에 대해 어떠한 책임도 지지 않습니다.

    </p>
<!--
    <div class="icons">
      {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if site.linkedin %}<a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.github %}<a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>{% endif %}
      {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
    </div>
-->
  </div>
  <div class="footer-center col-md-4 col-sm-6">
<!--
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Fake Street, 123</span> Springfield, OH</p>
    </div>
-->

<!--
    <div>
      <i class="fa fa-phone"></i>
      <p> (+1) 1234 555 321</p>
    </div>
-->

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto: wide.receiver.korea@gmail.com">wide.receiver.korea@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> The Bull Up</h2>
    <p class="menu">
      <a href="/"> Home</a>
    </p>
    <p class="name"> Wide Receiver &copy; {{ site.time | date: '%Y' }}</p>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto: wide.receiver.korea@gmail.com">wide.receiver.korea@gmail.com</a></p>
    </div>

  </div>
</footer>
